<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Джанго Блог</a></h1>
        </div>

        <div>
            <p>опубликовано: 7.12.2025, 19:45</p>
            <h2><a href="">О маленьких радостях жизни</a></h2>
            <p>Иногда мы ищем счастье в больших достижениях или далеких мечтах, а оно прячется в утреннем кофе, в улыбке прохожего, в тихой прогулке по городу. Может, стоит чаще замечать эти маленькие моменты?</p>
        </div>

        <div>
            <p>опубликовано: 7.12.2025, 19:45</p>
            <h2><a href="">О страхе и росте</a></h2>
            <p>Страх — это не враг. Он просто сигнал, что мы движемся в сторону чего-то нового. Каждый раз, когда мы сталкиваемся с ним лицом к лицу, мы растем. Главное — не убегать, а идти маленькими шагами.</p>
        </div>
    </body>
</html>